@import url(./styles.css);

.cuerpo {
   padding: 150px 100px 0;
}

.contenedor_platos_tipicos {
   display: flex;
   padding: 0px 100px;
   flex-direction: column;
   text-align: center;
   gap: 30px;
}

.titulo_principal, .titulo_seccion {
   color: #093d05;
   font-size: 50px;
   font-family: 'InknutAntiqua-SemiBold';
}

.contenedor_platos_tipicos P {
   color: #828282;
   font-size: 18px;
}

.contenedor_platillo {
   width: 100%;
   background-color: #D9D9D9;
   border-radius: 20px;
   padding: 20px;
   margin-top: 50px;
}

.contenedor_platillo p {
   font-size: 18px;
   color: rgba(0, 0, 0, .75);
}

.contenedor_platillo p:nth-child(2) {
   margin-top: 20px;
   color: #093d05;
}

.contenedor_platillo .contenido {
   display: grid;
   grid-template-columns: 1fr .5fr;
}

.contenedor_platillo .contenedor_img_platillo {
   width: 100%;
   height: 300px;
   position: relative;
}

.contenedor_platillo .contenedor_img_platillo img {
   position: absolute;
   top: -70%;
   right: -20%;
   height: 220%;
}

.contenedor_platillo .contenedor_img_platillo.kimchi img {
   position: absolute;
   top: -60%;
   right: -20%;
   height: 180%;
}

.contenedor_platillo .contenedor_img_platillo.bibimbap img {
   position: absolute;
   top: -30%;
   right: -20%;
   height: 100%;
}

.contenedor_platillo .contenedor_img_platillo.Bulgogi img {
   position: absolute;
   top: -90%;
   right: -20%;
   height: 100%;
}

.footer {
   margin-top: 100px;
   background-color: #D9D9D9;
}